/* CSS Setup */
html,
body {
  padding: 0;
  margin: 0;
  background-color: #464646;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Header Part */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

h1 {
  color: #ffe600;
  font-size: 2.8rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.witcherLogo {
  width: 350px;
  margin: 0 auto;
  transition: transform 200ms ease-in-out;
}
.witcherLogo:hover {
  transform: scale(1.1);
}

/* Footer Part */
footer {
  color: #fff;
  font-family: "Lucida Console", "Courier New", Courier, monospace;
  text-align: center;
}

.footerLink {
  color: #00cfc3;
  text-decoration: none;
}
.footerLink:hover {
  text-decoration: underline;
}

/* Main Part */
.mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 4%;
  margin: 0 auto;
  width: 100vw;
  max-width: 2560px;
}

.cardHolder {
  display: flex;
  justify-content: center;
  width: 100%;
}

.card {
  position: relative;
  display: inline-block;
  width: 20%;
  appearance: none;
  border: none;
  background: none;
  outline: none;
  margin: 4px;
  transition: transform 200ms ease-in-out, width 200ms ease-in-out;
}
.card:hover {
  transform: scale(1.1);
  border-radius: 10px;
  box-shadow: 8px 8px 13px #00cfc3, -8px -8px 13px #00cfc3;
  z-index: 20;
}

.navBtn {
  appearance: none;
  border: none;
  background: none;
  vertical-align: middle;
  padding: 1rem;
  cursor: pointer;
  transition: transform 160ms ease-in-out;
}
.navBtn:hover {
  transform: scale(1.1);
}

.rightBtn {
  transform: rotate(180deg);
}
.rightBtn:hover {
  transform: rotate(180deg) scale(1.1);
}

.isActive {
  width: 55%;
}
